$dark-orange: #ff6200;
$light-orange: #fd9346;
$dark-grey: #353b48;
$primary-color: $dark-grey;

#pageSection {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 6em 18em 1fr;
    row-gap: 4px;

    align-items: center;
    justify-items: center;

    background-color: $dark-orange;
}

#headerDiv {
    grid-row: 1;

    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;

    background-color: $primary-color;

    font-family: Helvetica, sans-serif;
}

#pageName {
    grid-column: 1;
    grid-row: 1;

    font-size: 2.5em;
    font-weight: bold;

    background-image: linear-gradient(
        45deg,
        $light-orange 65%,
        $dark-orange 35%,
    );

    /* Fallback values for `background-clip`. */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;

    /* Make the background only affect the text. */
    background-clip: text;

    /* Fallback values for `text-fill-color`. */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;

    /* Make text transparent. */
    text-fill-color: transparent;

    margin: auto;
    margin-left: 1em;

    animation: make-background-smaller-animation 0.5s ease-out forwards;
}

#pageName:hover{
    animation: make-background-larger-animation 0.5s ease-in forwards;
}

#pageLogin {
    grid-column: 3;
    grid-row: 1;

    font-size: 1.2em;
    font-weight: bold;
    text-align: right;

    text-decoration: none;

    background-color: transparent;
    color: $light-orange;

    margin: auto;
    margin-right: 1em;
}

#pageLogin:hover {
    color: white;
}

#searchDiv {
    grid-row: 2;

    width: 100%;
    height: 100%;

    background-color: $light-orange;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 2em 4em auto;
    row-gap: 0.5em;

    justify-items: center;
}

#searchTipParagraph {
    grid-column: 2;
    grid-row: 2;

    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;

    color: $dark-grey; //white;

    margin: auto;
}

#searchBarDiv {
    grid-column: 2;
    grid-row: 3;

    width: 100%;
    height: 1em;

    transition: width 0.4s;

    /* Give it an extended size. */
    padding: 1em;

    /* Give it round edges. */
    border-radius: 2.5em;

    background-color: #353b48;

    margin: auto;
    margin-top: 0.1em;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#searchBarInput {
    width: 100%;
    height: 100%;

    /*  On the left we only discount 0.5em so the characters are close to the
        border, while on the right, since the `searchIcon` has a width of 1em,
        we discount that width plus the original 0.5em.
    */
    padding-left: 0.5em;
    padding-right: 1.5em;

    background: transparent;
    border: 0;
    outline: 0;

    /* How the text will be displayed. */
    color: white;
    font-size: 90%;
}

#searchBarIcon {
    width: 1em;
    height: 100%;

    /* Give it an extended size so the background is more noticeable. */
    padding: 0.5em;

    /* Give it round edges. */
    border-radius: 50%;

    background: white;

    /*  The color of the icon itself. */
    color: #353b48; /* #d64933; */
}

#resultDiv {
    /*grid-area: result;*/
    grid-row: 3;

    width: 100%;
    height: 100%;

    background-color: $primary-color;
    color: #F80040;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 768px) {
    #headerDiv {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
    }

    #pageName {
        grid-column: 1;
    }

    #pageLogin {
        grid-column: 1;
        grid-row: 2;
    }
}

@keyframes make-background-smaller-animation {
    0% {
        background-size: 500%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes make-background-larger-animation {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 500%;
    }
}
